<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company table </title>
</head>
<body>
<h1>
    Company table
</h1>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Registration number</td>
        <td>Address</td>
        <td>Phone number</td>
        <td>Email</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list : ${companyList}">
        <td th:text="${list.id}"></td>
        <td th:text="${list.name}"></td>
        <td th:text="${list.registrationNumber}"></td>
        <td th:text="${list.address}"></td>
        <td th:text="${list.phoneNumber}"></td>
        <td th:text="${list.email}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>